html, body {
    margin: 0;
    padding: 0;background-image: url("./../Images/BG/Background.png");
}

main {
    width: 90vw;
}

.pnjAndTextBox {
    background-image: url("./../Images/BG/Background.jpg");
    background-size: cover;
    width: 100%;
    height: 95vh; 
    border: 3pt solid black;
    border-radius: 25px;
    image-rendering: pixelated;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.pnjAndTextBox canvas {
    /* Taille de Rose */
    width: 100%;
    image-rendering: pixelated;
}

.dialogRose {
    padding: 20px;
}

.pnjAndTextBox .Rose {
    padding: 20px;
    overflow: hidden;
}

#roseDialog {
    width: 21em;
    image-rendering: pixelated;
}

.Rose {
    width: 80%;
}
/* 
@media screen and (max-width: 1300px) {
    .pnjAndTextBox {
        background-color: aliceblue;
        width: 800px;
        height: 500px;
        border: 3pt solid black;
        border-radius: 25px;
    }   
}

@media screen and (max-width: 850px) {
    .pnjAndTextBox {
        background-color: aliceblue;
        width: 600px;
        height: 500px;
        border: 3pt solid black;
        border-radius: 25px;
    }
}

@media screen and (max-width: 650px) {
    .pnjAndTextBox {
        background-color: aliceblue;
        width: 500px;
        height: 650px;
        border: 3pt solid black;
        border-radius: 25px;
    }
} */