.pnjAndTextBox {
    background-image: url("https://envii.co.uk/cdn/shop/files/AdobeStock_64923013.jpg?v=1740150505&width=1500");
    width: 1200px;
    height: 650px;
    border: 3pt solid black;
    border-radius: 25px;
    image-rendering: pixelated;
}

.pnjAndTextBox canvas { 
    width: 300px;
    image-rendering: pixelated;
}

#roseDialog {
    width: 512px;
    image-rendering: pixelated;
}

@media screen and (max-width: 1300px) {
    .pnjAndTextBox {
        background-color: aliceblue;
        width: 800px;
        height: 500px;
        border: 3pt solid black;
        border-radius: 25px;
    }   
}

@media screen and (max-width: 850px) {
    .pnjAndTextBox {
        background-color: aliceblue;
        width: 600px;
        height: 500px;
        border: 3pt solid black;
        border-radius: 25px;
    }
}

@media screen and (max-width: 650px) {
    .pnjAndTextBox {
        background-color: aliceblue;
        width: 500px;
        height: 650px;
        border: 3pt solid black;
        border-radius: 25px;
    }
}